html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.6rem;
    background-color: #fefefe;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1{
    margin: 0;
    color:#fff;
}


ul {
    margin: 0;
    padding: 0;
}



.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}


header {
    padding: 34px 0 30px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}

.hinner{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.hsingolo {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.55px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}


span {
    color: #f06c64;
}



.ul_nav {
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;

    color: #fff;
    list-style: none;
    text-transform: uppercase;
}

.nav_item {
    margin-right: 29px;
    cursor: pointer;
    transition: color .2s linear;
    position: relative;
}

.nav_item::after {
    content: "";
    background-color: #434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    right: -16px;

    transform: translateY(-50%);

}

.nav_item:hover {
    color: #f06c64;
    text-decoration: underline;
}

.nav_item:last-child {
    margin-right: 0;
}

.nav_item:last-child::after {
    width: 0;
}

.nav_item_activated {
    color: #f06c64;
}

p {
    margin: 0;
}